.linkboleto
{
    color: #000000;
    text-decoration: underline;
}
.ddlPayments
{
    FONT-SIZE:10pt;
    COLOR: #000000;
    BORDER-TOP-STYLE:groove;
    FONT-FAMILY:monospace;
    BORDER-RIGHT-STYLE:groove;
    BORDER-LEFT-STYLE:groove;
    BORDER-BOTTOM-STYLE:groove;
}

#mainDiv
{
	width: 565px;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}

#topMenu
{
	background-color: #98b0c9;
	height:20px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
}

#midContent
{
	padding-right: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
}
#botFooter
{
	width: 99%;
	border-top: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	padding-bottom: 3px;
	padding-top: 3px;
}
.footer
{
	font-family: Verdana;
	font-size: 10px;
	color: #999999;
	line-height: 10pt;
}
.databg
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	background-color: #eaeff4;
}
.databg2
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	background-color: #eaeff4;
}
.dataheader
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.dataheader2
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #98b0c9;
	font-weight: bold;
}
.datatxt
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}
.datatxt2
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}
.instructions
{
	font-family: Verdana;
	font-size: 10px;
    color: #000000;
    line-height: 15px;
}
.ajudatxt
{
	font-family: Verdana;
	font-size: 10px;
    color: #000000;
}
.buttonlnkEnd
{
	padding-top: 20px;
	text-align: right;
}
.buttonbtnNext
{
	padding-top: 20px;
	text-align: right;
}
.buttonlnkReturn
{
	padding-top: 10px;
	text-align: left;
}
.fillRowTitle
{
	font-family: Verdana;
	font-size: 10px;
    color: #2E2E2E;
    line-height: 17px;
    background-color: #eaeff4;
    padding: 5 5 5 5;
    font-weight: bold;
}
.fillLabel
{
	font-family: Verdana;
	font-size: 10px;
    color: #000000;
}
.fillInstructions
{
	font-family: Verdana;
	font-size: 9px;
    color: #000000;
}
#FillConsumer input
{
	font-family: Verdana;
	font-size: 10px;
    color: #000000;
    background-color: #eaeff4;
}