<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SuperPag.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="fastpag" connectionString="server=10.250.1.5;user id=superpag;pwd=super123;database=SUPERPAG_DEV"/>-->
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAGCARREFOUR" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <SuperPag.Properties.Settings>
      <setting name="SuperPag_br_com_redecard_ecommerce_komerci_capture"
          serializeAs="String">
        <value>https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx</value>
      </setting>
    </SuperPag.Properties.Settings>
  </applicationSettings>
</configuration>