<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoAtual" value="C:\Van"/>
    <add key="CaminhoVan" value="C:\Van\Van\CaminhoVan"/>
    <add key="CaminhoEnviados" value="C:\Van\Van\Enviados"/>
    <add key="CaminhoRetorno" value="C:\Van\Van\Retorno"/>
  </appSettings>
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
</configuration>