<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SondaItauShopline\"/>
    <add key="ProductionServer" value="0"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="SondaItauShopline"/>
    <add key="ServerUrl" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
