<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="retornoDepIdSettings" type="SuperPag.Agents.DepId.Configuration.ConfigurationSettings, SuperPag"/>
  </configSections>
  <appSettings>
    <add key="CnabDir" value="c:\cnab\" />
    <add key="ArqCnabDir" value="c:\cnab\arq\" />
    <add key="ErrCnabDir" value="c:\cnab\erro\" />
    <add key="LogPath" value="c:\cnab\log\"/>
    <add key="LogName" value="cnab"/>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\RetornoDepIdentificado\"/>
    <add key="ProductionServer" value="0"/>
    <add key="ServerUrl" value=""/>
  </appSettings>
  <retornoDepIdSettings>
    <extensionMap>
      <map extension="ret_di_*.237" cnabType="6"/>
    </extensionMap>
  </retornoDepIdSettings>
  <connectionStrings>
    <add name="CnabConverter" connectionString="Data Source=vss01;Initial Catalog=CNABCONVERTER_HOMOLOG;User Id=superpag_homolog;Password=superpag_homolog"/>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>