<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fwcFrameworkWebSettings" type="FWCFramework.Web.Configuration.ConfigurationSettings, EasyPagObject"/>
  </configSections>
  <appSettings>
    <add key="ProductionServer" value="0"/>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\CapturaVBV\"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="CapturaVBV"/>
    <add key="ServerUrl" value="http://dev.superpag.com.br"/>
    <add key="VBVComponentUrl" value="http://dev.superpag.com.br/componentesvbv/"/>
    <add key="DaysBefore" value="200"/>
    <!--<add key="TestAttempt" value="89F333C4-BBF0-4EAC-B3FF-FD11D8F71C25"/>-->
    <add key="StoreIds" value="1,2,90"/>
  </appSettings>
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.5;user id=superpag_homolog;pwd=superpag_homolog;database=SUPERPAG_HOMOLOG"/>
  </connectionStrings>
</configuration>