<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="abnReturnUrl" value="http://homolog.superpag.com.br/Agents/ABN/retornoSonda.aspx"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="SondaFinanciamentoABN"/>
    <add key="DlCache" value="C:\inetpub\wwwroot\DlCache\SondaFinanciamentoABN\"/>
    <add key="ProductionServer" value="0"/>
    <!--<add key="CheckInterval" value="15"/>-->
  </appSettings>
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>