<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="superPagFrameworkWebSettings" type="SuperPag.Framework.Web.Configuration.ConfigurationSettings, SuperPag.Framework"/>
	</configSections>
	<appSettings>
		<add key="ProductionServer" value="0"/>
		<add key="DlCache" value="C:\Inetpub\wwwroot\DlCache\Controller\"/>
		<add key="LogPath" value="C:\"/>
		<add key="LogName" value="SuperPagController"/>
		<add key="ServerUrl" value="http://dev.superpag.com.br"/>
		<add key="VBVComponentUrl" value="http://dev.superpag.com.br/componentesvbv/"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="defaultSenderMail" value="superpag@superpag.com.br"/>
		<add key="urlSuperpag" value="http://dev.superpag.com.br"/>
	</appSettings>
	<connectionStrings>
		<!-- for Oracle <add name="fastpag" connectionString="Server=VRTADB;User ID=superpag;Password=superpag"/> -->
		<!-- for SQL -->
    <add name="fastpag" connectionString="server=10.250.1.4;user id=superpag;pwd=super123;database=SUPERPAG" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<superPagFrameworkWebSettings>
		<commandsMap>
			<map extension=".do" commandAssembly="SuperPag.Controller"/>
		</commandsMap>
	</superPagFrameworkWebSettings>
	<system.web>
		<globalization culture="pt-BR"/>
		<customErrors mode="On" defaultRedirect="error.aspx"/>
		<membership defaultProvider="ControllerMembershipProvider">
   <providers>
    <add connectionStringName="fastpag" UsernameRegularExpression="^[a-zA-Z][a-zA-Z0-9_]{3,}$"
     NewPasswordLength="8" MinRequiredPasswordLength="6" MinRequiredNonAlphanumericCharacters="0"
     MaxInvalidPasswordAttempts="3" PasswordAttemptWindow="15" PasswordFormat="Hashed"
     EnablePasswordReset="True" EnablePasswordRetrieval="True" RequiresQuestionAndAnswer="False"
     RequiresUniqueEmail="True" name="ControllerMembershipProvider"
     type="SuperPag.Business.Membership.ControllerMembershipProvider, SuperPag" />
   </providers>
  </membership>
		<roleManager enabled="true" defaultProvider="ControllerRoleProvider">
   <providers>
    <add name="ControllerRoleProvider" type="SuperPag.Business.Membership.ControllerRoleProvider, SuperPag" />
   </providers>
  </roleManager>
		<pages styleSheetTheme="default">
		</pages>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<compilation debug="false">
			<assemblies>
				<add assembly="Microsoft.JScript, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<httpHandlers>
			<add verb="*" path="*.do" type="SuperPag.Framework.Web.WebController.ActionHandler, SuperPag.Framework"></add>
		</httpHandlers>
	</system.web>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<handlers>
			<add name="Controller-DO" path="*.do" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified"/>
		</handlers>
		<defaultDocument>
			<files>
				<clear/>
				<add value="ShowHome.do"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
