<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathCorreioIn" value="C:\correio\inbox\"/>
    <add key="PathCorreioOut" value="C:\correio\outbox\"/>
    <add key="EmailError" value="nilo.torrezani@tivit.com.br"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="EnviaCorreio"/>
    
    <!--Email que sera enviado o arquivo-->
    <add key="EmailDestino1" value="msamarcos@gmail.com"/>
    <add key="EmailDestino2" value="msamarcos@gmail.com"/>
    <add key="EmailDestino3" value="msamarcos@gmail.com"/>
    <add key="EmailDestino4" value="marcos.sampaio.ext@tivit.com.br"/>
    <add key="EmailDestino5" value="nilo.torrezani@tivit.com.br"/>
    <!--********************************-->
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  
</configuration>