<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="EmailNaoConfirmados"/>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SuperPag\"/>
    <add key="User" value="superpag@superpag.com.br"/>
    <add key="Pass" value="super123"/>
    <add key="server" value="200.185.144.13"/>
  </appSettings>
  <connectionStrings>
    <add name="fastpag" connectionString="server=172.16.72.14;user id=superpag;pwd=super123;database=Superpag PontoCred" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>