<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="DlCache" value="C:\Inetpub\wwwroot\DlCache\SuperPag\"/>
		<add key="ProductionServer" value="0"/>
		<add key="VBVDirectory" value="C:\Inetpub\wwwroot\ComponentesVBV"/>
		<add key="VBV3Directory" value="C:\Inetpub\wwwroot\ComponentesVisa"/>
		<add key="VBVComponentUrl" value="http://localhost/componentesvbv/"/>
		<add key="VBV3ComponentUrl" value="http://localhost/componentesvisa/"/>
		<add key="MosetComponentUrl" value="http://localhost/componentes_SET/"/>
		<add key="PaymentClientVirtualReturnPage" value="http://localhost/SuperPag/agents/paymentclientvirtual/Request3Party.aspx"/>
		<add key="LogPath" value="C:\logs"/>
		<add key="LogName" value="SuperPag"/>
		<add key="ServerUrl" value="http://localhost"/>
		<add key="JavaVM" value="C:\jdk1.1.8\bin\java.exe"/>
		<add key="KomerciJavaClasses" value="D:\\WebSites\\ComponentesKomerci;C:\\jdk1.1.8\\lib\\classes.zip"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="defaultSenderMail" value="superpag@superpag.com.br"/>
		<add key="PathContaCorrente" value="C:\Van"/>
	</appSettings>
	<connectionStrings>
		<!-- for Oracle <add name="fastpag" connectionString="Server=VRTADB;User ID=superpag;Password=superpag"/> -->
		<!-- for SQL -->
		<!--<add name="fastpag" connectionString="server=10.250.1.5;user id=superpag_homolog;pwd=superpag_homolog;database=SUPERPAG_HOMOLOG"/>-->
		<!--<add name="fastpag" connectionString="server=10.250.1.5;user id=superpag;pwd=super123;database=SUPERPAG_DEV"/>-->
		<add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
		<!--<add name="fastpag" connectionString="server=172.16.72.14;user id=superpag_homolog;pwd=superpag_homolog;database=SUPERPAG_HOMOLOG"/>-->
	</connectionStrings>
	<system.web>
    <anonymousIdentification enabled="true"/>
    <profile>
      <properties>
        <add name="InstallmentNumber" defaultValue="" allowAnonymous="true" />
      </properties>
    </profile>
    
		<authentication mode="Forms"/>
		<customErrors mode="On" defaultRedirect="error.aspx"/>
		<globalization culture="pt-br" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" uiCulture="pt"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
