<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\Schedule\"/>
    <add key="ProductionServer" value="1"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="SuperPagSchedule"/>
    <add key="ServerUrl" value="http://homolog.superpag.com.br"/>
    <add key="DateFrom" value="2008-10-30"/>
    <add key="DateTo" value="2008-10-30"/>

    <add key="MosetComponentUrl" value="http://homolog.superpag.com.br/ComponentesVisa/"/>
    <add key="PaymentClientVirtualReturnPage" value="http://localhost/SuperPag/agents/paymentclientvirtual/Request3Party.aspx"/>
    <add key="SmtpServer" value="localhost"/>
    <add key="defaultSenderMail" value="superpag@superpag.com.br"/>
    <add key="PathContaCorrente" value="C:\Van"/>
    <!--<add key="DaysBefore" value=""/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="fastpag" connectionString="server=10.250.1.5;user id=superpag;pwd=super123;database=SUPERPAG_DEV"/>-->
    <!--<add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>-->
    <add name="fastpag" connectionString="Data Source=localhost;Initial Catalog=superpag;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
</configuration>
