<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SuperPag\"/>
    <!--A csu enviara o arquivo nesta pasta-->
    <add key="CnabDir" value="C:\Van\CARREFOUR\CSU\INBOX\"/>
    <!--O superpag vai arquivar nesta pasta o arquivo processado pela CSU-->
    <add key="CnabDirArchive" value="C:\Van\CARREFOUR\CSU\ArchiveInbox\"/>
    <!--Arquivo default de geração do XML-->
    <add key="PathXml" value="C:\Projetos\Superpag-Prod\Jobs\RecebimentoArquivo\Xml\default.xml"/>
    <!--StoreId do CARREFOUR-->
    <add key="StoreId" value="59"/>    
    <!--Caminho onde esta o EDI-->
    <add key="PathContaCorrente" value="C:\Van"/>
    <!--arquivos com erro-->
    <add key="CnabDirError" value="C:\Van\CARREFOUR\CSU\Error\"/>    
    
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="RecebimentoArquivoCSU"/>
    <add key="DataLayout150" value="11/9/2008"/>
    <add key="DataLayout400" value="8/9/2004 00:00:00"/>
    <add key="formato" value="dd/mm/yyyy"/>
  </appSettings>
  
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAGCARREFOUR" providerName="System.Data.SqlClient"/>
    <!--<add name="fastpag" connectionString="Data Source=localhost;Initial Catalog=superpag;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>