<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SuperPag\"/>
    <!--Disponibilizar o arquivo para csu neste diretorio-->
    <add key="CnabDir" value="C:\Van\CARREFOUR\CSU\OUTBOX\"/>
    <!--O superpag vai arquivar nesta pasta o arquivo que sera enviado s CSU-->
    <add key="CnabDirArchive" value="C:\Van\CARREFOUR\CSU\ArchiveOutbox\"/>
    <!--StoreId dos cliente e usam debito em conta-->
    <add key="StoreId" value="59"/>    
    <!--Caminho onde esta o EDI-->
    <add key="PathContaCorrente" value="C:\Van"/>
    <!--StoreId do carrefour-->
    <add key="StoreIdCarrefour" value="59"/>
    
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="RetornoDebContaCorrente"/>
  </appSettings>
  
  <connectionStrings>
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAGCARREFOUR" providerName="System.Data.SqlClient"/>
    <!--<add name="fastpag" connectionString="Data Source=localhost;Initial Catalog=superpag;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>