<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="retornoBoletoSettings" type="SuperPag.Agents.Boleto.Configuration.ConfigurationSettings, SuperPag"/>
  </configSections>
  <appSettings>
    <add key="CnabDir" value="c:\cnab\inbox\" />
	<add key="CnabHerbalife" value="c:\cnab\copy\" /> 
    <add key="ArqCnabDir" value="c:\cnab\arq\" />
    <add key="ErrCnabDir" value="c:\cnab\erro\" />
    <add key="LogPath" value="c:\cnab\log\"/>
    <add key="LogName" value="cnab"/>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SuperPag\"/>
    <add key="ProductionServer" value="0"/>
    <add key="ServerUrl" value=""/>
  </appSettings>
  <retornoBoletoSettings>
    <extensionMap>
      <map extension="ret_bc_*.001" cnabType="3"/>
      <map extension="ret_bc_*.237" cnabType="5"/>
      <map extension="ret_bc_*.341" cnabType="8"/>
      <map extension="ret_bc_*.399" cnabType="9"/>
    </extensionMap>
  </retornoBoletoSettings>
  <connectionStrings>
    <!--<add name="CnabConverter" connectionString="Data Source=vss01;Initial Catalog=CnabConverter_HOMOLOG;User Id=superpag_homolog;Password=superpag_homolog"/>-->
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
    <add name="CnabConverter" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=CnabConverter" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>