<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DlCache" value="c:\inetpub\wwwroot\DlCache\SuperPagPosts\"/>
    <add key="ProductionServer" value="0"/>
    <add key="LogPath" value="C:\"/>
    <add key="LogName" value="SuperPagPosts"/>
    <add key="ServerUrl" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="fastpag" connectionString="server=192.168.0.6;user id=superpag;pwd=super123;database=SUPERPAG_DEV"/>-->
    <add name="fastpag" connectionString="server=10.250.1.7;user id=superpag;pwd=super1234;database=SUPERPAG" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.novaconexao.com.br" port="25" userName="postmaster" password="wh5brave"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
