<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="storeid" value="1"/>
    <add key="storeidsmartpag" value="771"/>
  </appSettings>
  <connectionStrings>
    <add name="superpag" connectionString="server=efindev01;user id=superpag;pwd=super123;database=SUPERPAG_DEV"/>
    <add name="smartpag" connectionString="server=efindev01;user id=smartpag;pwd=smartpag;database=SMARTPAG"/>
  </connectionStrings>
</configuration>
